[user]
    name = {{name}}
    email = {{email}}
[alias]
    co = checkout
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
[core]
    editor = vim
    excludesfile = ~/.gitignore
[github]
    user = {{username}}
[branch]
    autosetuprebase = always
[pull]
    rebase = true
[push]
    default = upstream
